h1 = t('.title')
.row.center
  img[src="#{@user_book.image_url}"]

.row = t('.description')

== render 'hst_user_read_books/calender', month: @month, user_book_id: @user_book.id, hst_user_read_books: @hst_user_read_books
