PRODUCTION_DB_USER=""
PRODUCTION_DB_PASSWORD=""
PRODUCTION_DB_NAME=""
PRODUCTION_DB_HOST=""
TWITTER_CONSUMER_KEY=""
TWITTER_CONSUMER_SECRET=""
TWITTER_ACCESS_TOKEN=""
TWITTER_ACCESS_TOKEN_SECRET=""
S3_ACCESS_KEY_ID=""
S3_SECRET_KEY=""
RECOMMENDED_BOOKS_DYNAMODB_TABLE=""