.margin-default {
  margin: 18px;
}
.margin-large-top {
  margin-top: 36px;
}
.margin-default-top {
  margin-top: 18px;
}
.margin-small-top {
  margin-top: 5px;
}
.margin-none-top {
  margin-top: 0px;
}
.margin-default-bottom {
  margin-bottom: 18px;
}
.margin-large-bottom {
  margin-bottom: 36px;
}
.margin-small-bottom {
  margin-bottom: 5px;
}
.margin-none-bottom {
  margin-bottom: 0px;
}
.margin-default-left {
  margin-left: 18px;
}
.margin-small-left {
  margin-left: 5px;
}
.margin-large-left {
  margin-left: 36px;
}
.margin-none-left {
  margin-left: 0px;
}