.btn {
  @extend .btn !optional;
  margin: 5px;
}

.login-btn-container {
  position: relative;
}

.btn-twitter-login {
  margin: 0px;
  padding-left: 40px;
  background-color: #1da1f2;
  color: #fff;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 35px;
    height: 35px;
    background-size: 100%;
    background-image: image-url("commons/logo_twitter.png");
  }
  &:hover {
    background-color: #1da1f2;
  }
}