.single-book {
  .card-image {
    max-width: 20%;
    @media (min-width: 601px) {
      max-width: 15%;
    }
    @media (min-width: 993px) {
      max-width: 10%;
    }
  }
}

.avatar-below-card {
  text-align: right;
  img {
    max-height: 50px;
  }
}
