.list {
  li {
    margin-left: 20px;
  }
}

// 利用規約用番号付きリスト
.number-list {
  li {
    list-style-type: decimal !important;
  }
}

// ローマ数字小文字付きリスト
.lower-roman-list {
  li {
    list-style-type: lower-roman !important;
  }
}