/* Module: ローディングに関連 */
.turbolinks-loading {
  position: fixed;
  width: 72px;
  height: 72px;
  top: 42%;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  z-index: 100;
  background-image: image-url('commons/turbolinks-loader.gif');
  background-size: contain;
}

.ajax-loading {
  width: 72px;
  height: 72px;
  margin-right: auto;
  margin-left: auto;
  z-index: 100;
  background-image: image-url('commons/turbolinks-loader.gif');
  background-size: contain;
}