/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";
@import url(https://cdn.jsdelivr.net/npm/siimple@3.2.0/dist/siimple.min.css);

* {
  font-family: "source-han-serif-japanese", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

.siimple-navbar.siimple-navbar--teal {
  background-color: #009688;
}
.siimple-footer {
  padding-top: 20px;
  padding-bottom: 20px;
}
.siimple-footer.siimple-footer--teal {
  background-color: #009688;
}
.fa-large {
  font-size: 36px;
  color: white;
}
.fixed-footer {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  padding: 10px;
  width: 100%;
}

.box-title {
  font-size: 20px !important;
  max-height: 30px;
}

.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}