.preview-area {
  h1, h2 {
    font-weight:400;
    letter-spacing: normal !important;
  }
  h1 {
    font-size: 34px !important;
    line-height:40px!important
  }
  pre {
    margin-bottom: 16px;
  }

  code[class*="language-"] {
    width: 100%;
    padding: 20px 10px;
    color: #212121;
  }

  a {
    color: #42b983;
  }
}