<h1><%= @user.name %>様、example.comへようこそ。</h1>
<p>
  example.comへのサインアップが成功しました。
  ユーザー名は「<%= @user.login %>」です。<br>
</p>
<p>
  このサイトにログインするには、次のリンクをクリックしてください: <%= link_to 'login', '/' %>
</p>
<p>本サイトにユーザー登録いただきありがとうございます。</p>